@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&display=swap');

* {
    font-family: "SUSE", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('../src/Components/Images/wallhaven-1.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    filter: none;
}


.auth-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: white;
    border-radius: 10px;
}

.auth-form-container h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-family: "Fascinate Inline", sans-serif;
    color: #f2f2f2;
    text-shadow: 2px 2px 4px #000;
}

.auth-form-container button {
    padding: 10px 20px;
    background-color: gray;
    color: white;
    font-size: 1.2rem;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.auth-form-container button:hover {
    background-color: #31475a;
    transform: scale(1.05);
}

.auth-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* font-size: 30px; */
    width: 100%;
    max-width: 400px;
    padding: 20px;
    margin: 50px;
    border-radius: 10px;
    border: 2px solid white;
    background-color: #31475a;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.auth-form h2 {
    color: white;
    font-size: 60px;
}

.auth-form input {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
    background-color: #2a3745;
    color: white;
}

.auth-form ::placeholder {
    color: white;
}


.auth-form button {
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: #2a3745;
    cursor: pointer;
    font-size: 20px;
}

.auth-form button:hover {
    color: white;
    background-color: #2a3745;
}

.auth-form p {
    margin-top: 20px;
    font-size: 20px;
    color: white;
    /* margin: 5px; */
}

.navigation-link p {
    color: white;
    text-decoration: underline;
    /* font-size: 20px; */
    /* margin: 10px; */
}

.llm-response {
    /* position: absolute;
    top: 50%;
    left: 47%; */
    margin-top: 20px;
    max-width: 950px;
    color: white;
    border: 2px solid white;
    padding: 10px;
    border-radius: 5px;
    background-color: grey;
    /* word-break: break-all; */
    word-wrap: break-word;
}

.navbar-brand {
    font-size: 20px;
    color: #333;
}

@media (max-width: 768px) {
    /* .navbar-nav {
        text-align: center;
        margin-top: 10px;
    } */
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: white;
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 15px 50px;
    /* position: fixed; */
    /* display: flex;
    flex-direction: column; */
    top: 10px;
    width: 100%;
    border: 2px solid white;
    border-radius: 20px;
    z-index: 1000;
    width: 900px;
    margin: 0 auto;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    list-style: none;
    /* padding: 10px;
    margin: 10px; */
}

.navbar-nav li {
    list-style: none;
}

.navbar-nav a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s;
}

.navbar-nav a:hover {
    color: #007bff;
}

.hero-section {
    text-align: center;
    padding: 30px 10px;
    /* margin-top: 2px; */
}

.hero-section h1 {
    font-size: 60px;
    font-family: "Fascinate Inline", sans-serif;
    margin-bottom: 10px;
}

.hero-section p {
    font-size: 30px;
    color: #ddd;
}

.intro-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 50px 20px;
}

.intro-box {
    background-color: rgba(255, 255, 255, 0.1);
    width: 90%;
    max-width: 600px;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.intro-box.visible {
    opacity: 1;
    transform: translateY(0);
}

.intro-box img {
    width: 100%;
    max-width: 1000px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

.intro-box img:hover {
    transform: scale(1.1);
    /* Slight zoom effect */
    transition: transform 0.3s ease;
}

.intro-box h3 {
    font-size: 1.5rem;
    color: white;
}

.displayedText {
    color: white;
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    border: 3px solid white;
    border-radius: 5px;
    max-width: 1400px;
}

.tokens-table {
    margin-top: 20px;
    width: 100%;
    max-width: 900px;
    text-align: center;
    border-collapse: collapse;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.tokens-table th {
    background-color: #2a3745;
    color: white;
    padding: 10px;
    border: 1px solid #ddd;
    font-size: 1.1rem;
    text-transform: capitalize;
}

.tokens-table td {
    padding: 8px;
    border: 1px solid #ddd;
    background-color: gray;
    font-size: 1rem;
}

.tokens-table tr:nth-child(even) td {
    background-color: gray;
}

.tokens-table tr:hover td {
    background-color: #d4d4d4;
}

.main__scroll-text {
    color: white;
    font-size: 20px;
    margin-top: 0.5rem;
}

.main__action {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.main__scroll-box {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__action:hover .main__scroll-box {
    animation: scroll-down 3s infinite;
}

@keyframes scroll-down {

    0%,
    100% {
        transform: translateY(0);
        opacity: 1;
    }

    35% {
        transform: translateY(1rem);
        opacity: 0;
    }

    70% {
        transform: translateY(-1rem);
        opacity: 0;
    }
}